

.principal img {
    padding-left: 2%;
    margin-right: 5%;
}

.chili {
    width: 55%;
    height: auto;
    padding-top: 5%;
    margin-left: 20%;
 }

.legenda {
    text-align: center ;
    color: #222d8b;
}

p {
    text-align: center;
    font-size: 150%;
}
strong {
    font-size: 260%;
}

h6 {
    font-size: 150%;
}
.linha {
    padding-left: 5%;
}

.tipo {
    color:#1E90FF;
    display: inline;
}

.espaço {
    display: inline;
    margin-left: 65%;
    color: #1E90FF;
}

.valor {
    text-align: center;
}

.valor img {
    width: 35%;
}