.design {
    display: flex;
     margin-top: 150px;
  }

.desigo {
    width: 100%;
}

.legenda{
    color:#38b6ff;
}
  

.alinhamento {
    display: flex;
}

.product-card {
    background-color: #38b6ff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    max-width: calc(24.24% - 15px); /* 3 produtos por linha com margens */
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.add-to-cart {
    background-color: #329ccd;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.add-to-cart:hover {
    background-color: #228B22;
}ent

.cart {
    position: relative;
}

.italia { 
    height: 40px;
    width: 40px;
}